{{#models}}
{{#model}}
enyo.kind({name: "{{package}}.{{classname}}", kind: "Model", defaultSource: "sdk",
    parse: function(data) {
        var parsed = {};
        {{#vars}}
        {{#complexType}}
        {{#isNotContainer}}
        parsed.{{name}} = new {{datatype}}(data.{{name}} || {}, {parse: true});
        {{/isNotContainer}}
        {{#isContainer}}
        parsed.{{name}} = data.{{name}};
        {{/isContainer}}
        {{/complexType}}
        {{^complexType}}
        parsed.{{name}} = data.{{name}};
        {{/complexType}}

        {{/vars}}        return parsed;
    }
});

{{/model}}
{{/models}}

//This part is primarily for tooling.  It's not required for code to execute, and thus could be removed
//from any future code generation.
{{#models}}
{{#model}}

{{#vars}}
//{{description}}
{{package}}.{{classname}}.prototype.{{name}} = null;
{{/vars}}

{{/model}}
{{/models}}


