
{{#operations}}

//Variable that contains the service
api.{{baseName}}Service = {};

{{#operation}}
api.{{baseName}}Service.{{nickname}} = function({{#allParams}} {{paramName}},{{/allParams}} successFn, failureFn)  {
    //Stub implementation goes here
};
{{/operation}}

{{/operations}}
