{{#models}}
{{#model}}

var model = {name: "{{package}}.{{classname}}", kind: "Model", defaultSource: "sdk", attributes: {}};
{{#vars}}
model.attributes.{{name}} = {type: "{{{datatype}}}"};
{{/vars}}

enyo.kind(model);

{{/model}}
{{/models}}
