{{#models}}
{{#model}}

var {{classname}} = function() {
}; 

//Properties for the {{classname}} object
{{#vars}}
{{classname}}.prototype.{{name}} = null; //{{{datatype}}}
{{/vars}}

{{/model}}
{{/models}}
