{{#models}}
{{#model}}
/**
 * {{description}}
 */
enyo.kind({name: "{{package}}.{{classname}}", kind: "Model", defaultSource: "sdk",
    attributes: {

    },
    format: function(data) {
        {{#vars}}
        {{#complexType}}
        this.{{name}} = new {{datatype}}(data.{{name}} || {});
        {{/complexType}}
        {{/vars}}
{{newline}}    }

});

{{/model}}
{{/models}}

//This part is primarily for tooling.  It's not required for code to execute, and thus could be removed
//from any future code generation.
{{#models}}
{{#model}}

{{#vars}}
//{{description}}
{{package}}.{{classname}}.prototype.{{name}} = null;

{{/vars}}

{{/model}}
{{/models}}


